*{font-family:Roboto,sans-serif}
header{position:relative;height:50px}
nav{position:fixed;width:100%;height:50px;background-color:#212121;z-index:2}
.hamburger{display:none}
.menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:13px 70px;margin:0;list-style-type:none}
.menu_link{color:#fff;font-size:15px;font-weight:300}
.menu_link:hover{text-decoration:none;color:#1eacc7}
.menu_item{border-right:2px dotted #000;padding-right:28px}
.menu_item:last-child{border-right:none}
.subheader{position:absolute;top:50px;width:100%;height:84px;background-color:rgba(0,0,0,.6)}
.subheader_logo{display:block;max-width:100%;margin-top:16px}
.subheader_official{margin-top:6px;opacity:.5;color:#fff;font-size:13px;font-weight:400}
.subheader_call{color:#fff;font-size:12px;font-weight:300;margin-top:19px;text-align:right}
.subheader_call_number{display:block;margin-top:8px;color:#fff;font-size:22px;font-weight:400;text-transform:uppercase;text-align:right;line-height:12px}
.subheader_btn{margin-top:19px;width:172px;height:46px;-webkit-box-shadow:inset 0 -3px 0 rgba(0,0,0,.12);box-shadow:inset 0 -3px 0 rgba(0,0,0,.12);border:none;border-radius:4px;background-image:-webkit-gradient(linear,left bottom,left top,from(#1eacc7),to(#4ce2ff));background-image:linear-gradient(to top,#1eacc7 0,#4ce2ff 100%);text-shadow:1px 1px 0 rgba(0,0,0,.21);color:#fff;font-size:14px;font-weight:400;text-transform:uppercase;cursor:pointer}
.subheader_btn:hover{background-image:none;background-color:#1eacc7}
.promo{min-height:800px;background:url(../img/bg/1stBG.jpg?20010071739) center center/cover no-repeat;padding:150px 0 135px 0}
.promo_header{color:#fff;font-weight:700;text-transform:uppercase;font-size:60px;line-height:60px;margin:0;text-align:center}
.promo_subheader{color:#fff;font-weight:700;text-transform:uppercase;font-size:36px;line-height:36px;margin:0;margin-top:22px;text-align:center}
.promo_desc{color:#fff;font-size:18px;font-weight:400;line-height:24px;text-align:center;margin-top:23px}
.promo_btn{display:block;margin:118px auto 0 auto;width:259px;height:63px;-webkit-box-shadow:inset 0 -4px 0 rgba(0,0,0,.12);box-shadow:inset 0 -4px 0 rgba(0,0,0,.12);border:none;border-radius:4px;background-image:-webkit-gradient(linear,left bottom,left top,from(#1eacc7),to(#4ce2ff));background-image:linear-gradient(to top,#1eacc7 0,#4ce2ff 100%);text-shadow:1px 1px 0 rgba(0,0,0,.21);color:#fff;font-size:18px;font-weight:400;text-transform:uppercase;cursor:pointer}
.promo_btn:hover{background-image:none;background-color:#1eacc7}
.label{display:block;text-align:center;margin:0 auto;height:24px;width:112px;padding:5px 12px;background-color:#000;color:#fff;font-size:11px;font-weight:300;text-transform:uppercase;cursor:pointer}
.title{margin-bottom:0;margin-top:38px;color:#222;font-size:38px;font-weight:700;text-transform:uppercase;text-align:center}
.subtitle{margin-top:19px;text-align:center;color:#222;font-size:17px;font-weight:400}
.reasons{padding:71px 0 65px 0}
.reasons_block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:35px}
.reasons .eclipse{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:26px;width:113px;height:113px;background-color:#1eacc7;border-radius:100%}
.reasons .reason_desc{width:343px}
.reasons .reason_title{line-height:21px;color:#1eacc7;font-size:17px;font-weight:400}
.reasons .reasons_text{color:#202020;font-size:15px;font-weight:300;line-height:21px}
.mobile{min-height:864px;padding:48px 0 79px 0;background:url(../img/bg/mobile_bg.jpg?20010071739) center center/cover no-repeat}
.mobile .row{margin-top:32px}
.mobile_item{position:relative;width:320px;height:280px;margin:0 auto;margin-bottom:19px;padding-top:91px}
.mobile_item_1{background:url(../img/mobileAppCards/1.jpg?20010071739) center center/cover no-repeat}
.mobile_item_2{background:url(../img/mobileAppCards/2.jpg?20010071739) center center/cover no-repeat}
.mobile_item_3{background:url(../img/mobileAppCards/3.jpg?20010071739) center center/cover no-repeat}
.mobile_item_4{background:url(../img/mobileAppCards/4.jpg?20010071739) center center/cover no-repeat}
.mobile_item_5{background:url(../img/mobileAppCards/5.jpg?20010071739) center center/cover no-repeat}
.mobile_item_6{background:url(../img/mobileAppCards/6.jpg?20010071739) center center/cover no-repeat}
.mobile_item_subtitle{text-align:center;color:#fff;font-size:24px;font-weight:400;line-height:31px;text-transform:uppercase}
.mobile_item_plus{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:absolute;bottom:35px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);margin:0 auto;width:26px;height:26px;background-color:#000;border-radius:100%;padding:6px;cursor:pointer}
.mobile_item_plus::before{content:"";display:block;width:14px;height:2px;background-color:#1eacc7;-webkit-transition:.3s all;transition:.3s all}
.mobile_item_plus::after{content:"";position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);display:block;height:14px;width:2px;background-color:#1eacc7;-webkit-transition:.3s all;transition:.3s all}
.mobile_item_plus:hover::after,.mobile_item_plus:hover::before{background-color:#ff5656}
.uberX{min-height:896px;padding:65px 0 138px 0;background:url(../img/bg/uberX_bg.jpg?20010071739) center center/cover no-repeat}
.uberX .label{background-color:#fff;color:#070716}
.uberX .title{color:#fff}
.uberX .subtitle{color:#fff}
.uberX_img{display:block;margin:0 auto;margin-top:56px}
.uberX_desc{color:#222;font-size:17px;font-weight:300;line-height:24px;text-align:center}
.terms{padding:68px 0 84px 0}
.terms_block{margin:33px 0}
.terms_block_nbm{margin-bottom:0}
.terms_title{color:#1eacc7;font-size:22px;font-weight:400}
.terms_title_red{color:#ff5656}
.terms_list{list-style-type:none;padding-left:52px;margin-top:22px}
.terms_list li{position:relative;font-size:17px;font-weight:300;line-height:24px;margin-bottom:10px}
.terms_list li::before{content:"";display:block;position:absolute;left:-32px;top:3px;width:21px;height:20px;background:url(../icons/terms/blue_mark.png?20010071739) center center/cover no-repeat}
.terms_list_red li::before{background:url(../icons/terms/red_mark.png?20010071739) center center/cover no-repeat}
.terms_desc{color:#1eacc7;font-weight:300}
.world{min-height:717px;background:url(../img/bg/world_bg.jpg?20010071739);padding:49px 0 49px 0}
.world .label{width:76px;height:24px;background-color:#fff;color:#070716}
.world .title{color:#fff}
.world .subtitle{color:#fff}
.world .view_cities{display:block;margin-top:486px;text-align:center;color:#1eacc7;font-size:15px;font-weight:400;text-transform:uppercase}
.world .view_cities:hover{text-decoration:none;color:#fff}
footer{padding:14px 23px 39px 23px}
footer a:hover{text-decoration:none}
footer .footer_divider{width:299px;height:4px;background-color:#1fbad6;margin:0 auto}
footer .footer_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;padding-top:32px}
footer .footer_wrapper>div{width:33%}
footer .footer_wrapper>div:nth-child(3){display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
footer .footer_social{width:160px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
footer .footer_social_item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 4px;width:32px;height:32px;background-color:#070716;border-radius:100%}
footer .footer_social_item i{color:#fff}
footer .footer_links{width:390px;margin:0 auto}
footer .footer_links_main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 10px}
footer .footer_links_main a{color:#070716;font-size:15px;font-weight:300;text-transform:uppercase}
footer .footer_links_sub{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:10px}
footer .footer_links_sub a{color:#999;font-size:11px;font-weight:300;text-transform:uppercase}
footer .footer_links_lang{display:block;margin:0 auto;color:#1fbad6;font-size:11px;font-weight:400;margin-top:19px;text-transform:uppercase;text-align:center}
.xs-visible{display:none}
@media screen and (max-width:1200px){
.menu_item{padding-right:20px}
.menu_link{font-size:13px}
.promo_header{font-size:50px}
.reasons_block{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.reasons .reason_desc{width:300px}
.mobile_item{width:300px}
.mobile_item_subtitle{font-size:20px}
footer .footer_wrapper>div{width:50%}
footer .footer_wrapper>div:nth-child(1){width:25%}
footer .footer_wrapper>div:nth-child(3){width:25%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
footer .footer_mobile{display:-webkit-box;display:-ms-flexbox;display:flex}
footer .footer_mobile a{margin:0 3px}
footer .footer_mobile a img{width:100%}
}
@media screen and (max-width:991px){
.menu_item{padding-right:5px}
.menu_link{font-size:11px}
.subheader_logo img{width:100%}
.subheader_official{font-size:11px}
.subheader_call_number{font-size:19px}
.subheader_btn{margin-top:21px;width:100%;height:40px}
.promo_header{font-size:40px}
.promo_subheader{font-size:26px}
.title{font-size:35px}
.reasons_block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.reasons_block .eclipse{margin-right:0}
.reasons .reason_desc{margin-top:20px;width:300px}
.mobile_item{width:225px;height:215px}
.mobile_item_subtitle{font-size:15px}
.uberX img{width:100%}
footer .footer_wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap}
footer .footer_wrapper>div{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:20px}
footer .footer_wrapper>div:nth-child(1){width:100%}
footer .footer_wrapper>div:nth-child(3){width:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
}
@media screen and (max-width:767px){
.menu{position:fixed;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;top:0;left:-100%;width:50%;height:100vh;padding:20px 15px;background-color:rgba(0,0,0,.8);-webkit-transition:.6s all;transition:.6s all}
.menu_active{left:0}
.menu_item{padding-right:0;border:none;margin:15px 0}
.menu_item a{font-size:20px}
.hamburger{display:block;position:absolute;right:10px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:26px;height:12px}
.hamburger span{display:block;height:2px;width:100%;background-color:#f1f1f1;margin-bottom:2px;-webkit-transition:.5s all;transition:.5s all}
.hamburger_active span{margin-bottom:-2px}
.hamburger_active span:nth-child(1){-webkit-transform:translatey(3px) rotate(-45deg);transform:translatey(3px) rotate(-45deg)}
.hamburger_active span:nth-child(2){display:none}
.hamburger_active span:nth-child(3){-webkit-transform:translatey(3px) rotate(45deg);transform:translatey(3px) rotate(45deg)}
.xs-hiden{display:none}
.xs-visible{display:block}
.subheader_call_number{display:block;font-size:16px;font-weight:400;text-transform:uppercase;color:#fff;text-align:center}
.subheader_btn{display:block;margin:0 auto;margin-top:6px;width:160px;height:30px;font-size:15px}
.promo_header{line-height:45px}
.title{margin-top:10px;font-size:25px}
.mobile_item{width:500px;height:350px}
.mobile_item_subtitle{font-size:28px}
.mobile_itemplus{width:50px;height:50px}
.mobile_itemplus::before{width:18px}
.mobile_itemplus::after{width:18px}
}
@media screen and (max-width:575px){
.subheader{height:60px}
.subheader_official{display:none}
.subheader_logo{margin-top:16px}
.subheader_call_number{font-size:12px;font-weight:400;text-transform:uppercase;margin-top:11px}
.subheader_btn{width:116px;height:25px;font-size:11px;margin-top:6px}
.promo{min-height:400px;padding:93px 0 32px 0}
.promo_header{font-size:30px;font-weight:900;line-height:35px;padding:0 24px}
.promo_subheader{font-size:20px;font-weight:700;line-height:30px;margin-top:33px;padding:0 10px}
.promo_desc{display:none}
.promo_btn{margin-top:72px;width:210px;height:50px;-webkit-box-shadow:1px 1px 0 0 rgba(0,0,0,.2);box-shadow:1px 1px 0 0 rgba(0,0,0,.2);font-size:16px;font-weight:400;text-transform:uppercase;color:#fff}
.menu{width:85%}
.menu_item{width:100%;text-align:center;padding:5px 0}
.menu_link{display:block}
.reasons{padding:22px 0 36px 0}
.reasons_block{margin-top:26px}
.reasons_block .eclipse{width:100;height:100}
.reasons_block_desc{width:100%;margin-top:27px}
.reasons_title{font-size:16px}
.title{font-size:15px;margin-top:15px;line-height:16px}
.mobile_item{width:290px;height:250px}
.mobile_item_subtitle{font-size:18px;line-height:31px}
.uberX{min-height:390px;padding:25px 0 33px 0;background:0 0;background-color:#000}
.uberX .title{display:none}
.uberX .subtitle{display:none}
.uberX_desc{font-size:17px;line-height:24px;font-weight:300;color:#fff}
.terms{padding:25px 0 26px 0}
.world{min-height:360px;background:url(../img/bg/world_bg_mobile.jpg?20010071739);padding:25px 0 30px 0}
.world .title{font-size:16px;font-weight:700}
.world .subtitle{margin-top:10px;font-size:14px;font-weight:400}
.world .view_cities{margin-top:200px;font-size:15px;font-weight:400}
footer{padding:25px 0 20px 0}
footer .footer_divider{width:253px}
footer .footer_links_main a{font-size:14px}
footer .footer_wrapper>div:nth-child(1){-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}
footer .footer_wrapper>div:nth-child(3){-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
}